#{extends 'main.html' /}
#{set title:'Sign Up' /}

<nav class="ui olive secondary pointing menu"> 
  <a class="ui item" href="/home">Welcome</a>    
  <a class="ui active item" href="/Admins/config">Administrators</a>
  <div class="ui right menu">
    <a class="ui item" href="/Contact">Contact</a>
    <a class="ui item" href="/Tenants/logout">Log out</a>
  </div>    
</nav>

<section class="ui segment">
  <div class="ui two column grid">
    <div class="column">
      <h1>Create a MyRent account</h1>
      <h3>Register using a valid email address</h3>
    </div>
    <div class="column">
      <h1>For Tenants only</h1>
    </div>
  </div>
  <form class="ui form segment" action="/Tenants/Register" method="POST" onsubmit="return checkTerms();">  
	  <div class="ui two column grid">
	    <div class="column">
	        <h1 class="ui header"> Sign Up </h1>
	        <div class="two fields">
              <div class="field">
                <label>First Name</label>
	            <input id="firstName" placeholder="First Name" type="text" name="firstName">
	          </div>
	          <div class="field">
	            <label>Last Name</label>
	            <input id="lastName" placeholder="Last Name" type="text" name="lastName">
	         </div>
	      </div>
          <div class="field">
	        <label>Email</label>
	        <input id="email" placeholder="Email" type="text" name="email">
	      </div>
	      <div class="field">
	        <label>Password</label>
	        <input id="password" type="password" name="password">
	      </div>
	          <div class="ui checkbox">
                <input id="terms" name="terms" type="checkbox">
                <label for="terms">I agree to the terms and conditions</label>
              </div>
	        <button type="submit" class="ui blue submit button">Sign up</button>
	        <div class="ui error message"></div>
	        <script src="/public/javascripts/SignUp.js" type="text/javascript" charset="utf-8"></script>
	    </div>
	</div>
  </form>
</section>  