#{extends 'main.html' /}
#{set title:'Charts' /}

<nav class="ui olive secondary pointing menu"> 
  <a class="ui item" href="/home">Welcome</a> 
  <a class="ui active item" href="/Admins/config">Administrator</a>  
  <a class="ui item" href="/Admins/reports">Reports</a> 
  <a class="ui active item" href="/Admins/charts">Charts</a>  
  <div class="ui right menu">
    <a class="ui item" href="/Contact">Contact</a>
    <a class="ui item" href="/Admins/logout">Log out</a>
  </div>    
</nav>

<section class="ui segment">
  <div class="ui two column grid">
    <div class="column">
      <div class="ui segment">
      <h4>List rents</h4>
        <table class="ui table segment">
    <thead>
      <tr>
        <th>Landlord</th>
        <th>Eircode</th>
        <th>Rent</th>
      </tr>
    </thead>
    <tbody>
      #{list items:lords, as:'lord'}
        <div class="resName" value="${lord.firstName} ${lord.lastName}"></div>
      #{/list}
      #{list items:rents, as:'rent'}
        <div class="resRent" value="${rent}"></div>
      #{/list}
      #{list items:res, as:'res'}
        <tr>
          <div class="residence" value="${res}"></div>
          <td>${res.landlord.firstName} ${res.landlord.lastName}</td>
          <td>${res.eircode}</td>
          <td>${res.rent}</td>
        </tr>
      #{/list}      
        </tbody>
  </table>
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <div id="chartContainer" style="width: 100%; height: 300px"></div>
        </div>
    </div>
  </div>
</section>
<script src="/public/javascripts/jquery.canvasjs.min.js" charset="utf-8"></script>
<script src="/public/javascripts/charts.js" charset="utf-8"></script>