#{extends 'main.html' /}
#{set title:'Admin configuration' /}

<nav class="ui olive secondary pointing menu"> 
  <a class="ui item" href="/home">Welcome</a> 
   <a class="ui active item" href="/Admins/config">Administrator</a>  
  <a class="ui item" href="/Admins/reports">Reports</a> 
  <a class="ui item" href="/Admins/charts">Charts</a>  
  <div class="ui right menu">
    <a class="ui item" href="/Contact">Contact</a>
    <a class="ui item" href="/Admins/logout">Log out</a>
  </div>    
</nav>

<section class="ui segment">
  <h1>Adminstration Configuration Page</h1>
    <div class="ui three column grid">
      <div class="column">
        <br>
        <form action="/Landlords/signup" method="GET">
          <div class="ui fluid form segment">
            <button type="submit" class="ui fluid blue submit button">Register Landlord</button>
          </div>
        </form>
        <form action="/Tenants/signup" method="GET">
          <div class="ui fluid form segment">
            <button type="submit" class="ui fluid blue submit button">Register Tenant</button>
          </div>
        </form>
        <form class="ui fluid form segment landlord">
          <div class="ui fluid form segment">
	        <div id="landlordDD" class="ui fluid selection dropdown">
	          <input name="lordid" type="hidden">
	            <div class="text">List of Landlords</div>
		          <i class="dropdown icon"></i>
			    <div class="menu">
			      #{list items:lords, as:'lord'}
			        <div class="item lord" data-value="${lord.id}">${lord.email}</div>
	              #{/list}
  	            </div>
	          </div> 
            </div>
          <div class="form-actions">
            <div class="ui fluid blue submit button">Delete Landlord</div>
            <div class="ui error message"></div>
          </div>
        </form>
        <form class="ui fluid form segment tenant">
          <div class="ui fluid form segment">
            <div id="TenantDD" class="ui fluid selection dropdown">
	          <input name="tenid" type="hidden">
	            <div class="text">List of Tenants</div> 
	              <i class="dropdown icon"></i>
			    <div class="menu">
			      #{list items:tens, as:'ten'}
			        <div class="item ten" data-value="${ten.id}">${ten.email}</div>
                  #{/list}
	            </div>
	   	      </div> 
            </div>
          <div class="form-actions">
            <div class="ui fluid blue submit button">Delete Tenant</div>
            <div class="ui error message"></div>
          </div>
        </form>
      </div> 
      <div class="ten wide column">
        <div class="ui segment">
          <h4>Please see below for all properties, single click to view details</h4> 
            <div id="map"></div>  
        </div>
      </div>
   <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBS3FbSagc3vSZYoHcakg9WvOlIflst3ro"
  type="text/javascript"></script>
  <script src="/public/javascripts/AdminMap.js" type="text/javascript" charset="utf-8"></script>
  <script src="/public/javascripts/AdminConfig.js" type="text/javascript" charset="utf-8"></script>
  </div>
</section>
