#{extends 'main.html' /}
#{set title:'Contact' /}

<nav class="ui olive secondary pointing menu"> 
  <a class="ui active item" href="/home">Welcome</a>  
  <a class="ui item" href="/Admins/login">Administrator</a>     
  <a class="ui item" href="/Landlords/Login">Landlord</a>
  <a class="ui item" href="/Tenants/login">Tenant</a>
  <div class="ui right menu">
    <a class="ui item" href="/Contact">Contact</a> 
    <a class="ui item" href="/logout">Log out</a>
  </div>    
</nav>

<section class="ui segment">
  <h1>My Rent</h1>
    <p>Thank you for your message.</p>
    <p>We very much appreciate you having taken the time out of your busy schedule to contact us</p>
    <p>We will deal with the issues you have raised and advise you of the outcome as soon as possible</p>
    <p>With best wishes,</p>
    <p>From the MyRent Team</p>
</section>