#{extends 'main.html' /}
#{set title:'Contact' /}

<nav class="ui olive secondary pointing menu"> 
  <a class="ui item" href="/home">Welcome</a>  
  <a class="ui item" href="/Admins/login">Administrator</a>     
  <a class="ui item" href="/Landlords/Login">Landlord</a>
  <a class="ui item" href="/Tenants/login">Tenant</a>
  <div class="ui right menu">
    <a class="ui active item" href="/Contact">Contact</a> 
    <a class="ui item" href="/logout">Log out</a>
  </div>    
</nav>

<section class="ui segment">      
  <h5>We would very much appreciate if you would provide some feedback.</h5>
	<form class="ui form" action="/sendMessage" method="POST">
    <div class="ui input field">
		  <input placeholder="Your first name" name="firstName" type="text">
    </div>
	  <div class="ui input field">
		  <input placeholder="Your last name" name="lastName" type="text">
    </div>
    <div class="ui divider"></div>
	    <div class="ui left icon input">
	      <input placeholder="Your email address" name="email" type="text" size="30">
	      <i class="user icon"></i>
	    </div>
    <div class="ui divider"></div>
		  <div class="ui field">
		    <textarea placeholder="Your message" name="messageTxt"></textarea>
		</div> 
    <div class="ui divider"></div>
     <button type="submit" class="ui blue submit button">Send Message</button>	
     <div class="ui error message"></div>
	 <script src="/public/javascripts/contact.js" type="text/javascript" charset="utf-8"></script>  
  </form>
</section>