#{extends 'main.html' /}
#{set title:'Landlord configuration' /}

<nav class="ui olive secondary pointing menu"> 
  <a class="ui item" href="/home">Welcome</a>      
  <a class="ui active item" href="/Landlords/config">Landlord</a>
  <div class="ui right menu">
    <a class="ui item" href="/Contact">Contact</a>
    <a class="ui item" href="/Landlords/logout">Log out</a>
  </div>    
</nav>

<section class="ui segment">
  <h1>Welcome ${lord.firstName} ${lord.lastName}</h1>
    <div class="ui three column grid">
      <div class="column">
        <div class="ui fluid segment">
          <form action="/edit" method="GET">  
            <button class="ui fluid blue button">Edit Landlord</button>
          </form>
        </div>
      </div>
      <div class="column">
        <div class="ui fluid segment">
          <form action="/InputData" method="GET">
            <button class="ui fluid blue button">Add Residence</button>
          </form>
        </div>
      </div>
    </div>
    <div class="ui three column grid">
      <div class="column">
        <form class="ui fluid form segment" action="/deleteRes" method="POST">
          <div class="ui fluid form segment">
	        <div class="ui fluid selection dropdown">
	        <input name="resid" type="hidden">
	          <div class="text">List of Residences</div>
			    <i class="dropdown icon"></i>
			  <div class="menu">
			    #{list items:residences, as:'res'}
			      <div class="item" data-value="${res.id}">${res.geolocation}</div>
	            #{/list}
	          </div>
	   	    </div> 
          </div>
          <div class="form-actions">
            <div class="ui fluid blue submit button">Delete Residence</div>
            <div class="ui error message"></div>
          </div>
        </form>
      </div>
      <div class="column">
        <form class="ui fluid form segment" action="/edit" method="POST">
          <div class="ui fluid form segment">
	        <div class="ui fluid selection dropdown">
	        <input name="resid" type="hidden">
			  <div class="text">List of Residences</div>
			    <i class="dropdown icon"></i>
			  <div class="menu">
			    #{list items:residences, as:'res'}
			      <div class="item" data-value="${res.id}">${res.geolocation}</div>
	            #{/list}
	          </div>
	   	    </div> 
          </div>
          <div class="form-actions">
            <div class="ui fluid blue submit button">Edit Residence </div>
            <div class="ui error message"></div>
          </div>
        </form>
      </div>
    </div>
  <script src="/public/javascripts/Landlord_Config.js" type="text/javascript" charset="utf-8"></script>
</section>