#{extends 'main.html' /}
#{set title:'Edit Profile' /}

<nav class="ui olive secondary pointing menu"> 
  <a class="ui item" href="/home">Welcome</a>      
  <a class="ui active item" href="/Landlords/config">Landlord</a> 
  <a class="ui active item" href="/Landlords/edit">Edit</a>
  <div class="ui right menu">
    <a class="ui item" href="/Contact">Contact</a> 
    <a class="ui item" href="/Landlords/logout">Log out</a>
  </div>    
</nav>

<section class="ui segment">
  <h1>Edit your MyRent account</h1>
  <form class="ui form segment" action="/editProfile" method="POST">  
	  <div class="ui two column grid">
	    <div class="column">
	        <h1 class="ui header"> Edit Profile </h1>
	        <div class="two fields">
              <div class="field">
                <label>First Name</label>
	            <input id="firstName" placeholder="First Name" type="text" name="firstName">
	          </div>
	          <div class="field">
	            <label>Last Name</label>
	            <input id="lastName" placeholder="Last Name" type="text" name="lastName">
	         </div>
	      </div>
          <div class="field">
	        <label>Email</label>
	        <input id="email" placeholder="Email" type="text" name="email">
	      </div>
	      <div class="field">
	        <label>Password</label>
	        <input id="password" type="password" name="password">
	      </div>
	      <div class="field">
	        <label>Address</label>
	        <input id="address" placeholder="address" type="text" name="address">
	        <input name="userid" value="${user.id}" hidden>
	      </div>
	        <button type="submit" class="ui blue submit button">Edit</button>
	    </div>
	</div>
  </form>
</section>  