#{extends 'main.html' /}
#{set title:'Log In' /}

<nav class="ui olive secondary pointing menu"> 
  <a class="ui item" href="/home">Welcome</a>    
  <a class="ui active item" href="/Landlords/config">Landlord</a>
  <div class="ui right menu">
    <a class="ui item" href="/Contact">Contact</a> 
    <a class="ui item" href="/Landlords/logout">Log out</a>
  </div>    
</nav>

<section class="ui segment">
<h1>Log into your account</h1>
  <h3>Your username is the email you registered with</h3>
    <div class="ui two column grid">
      <div class="column">
        <form class="ui form" action="/Landlords/authenticate" method="POST">
	      <div class="ui fluid form segment">
            <h1 class="ui header">Log In</h1>
    	    <div class="field">
	          <label> Username: </label>
	          <input type="text" name="email">
	        </div>  
	        <div class="field">
	          <label>  Password: </label>
	          <input type="password" name="password">
	        </div>
	         <div class="form-actions">
	          <div class="ui blue submit button">Login</div>
	          <div class="ui error message"></div>
	        </div>
	      </div>
	    </form>
	  </div>
    </div>
  <script src="/public/javascripts/login.js" type="text/javascript" charset="utf-8"></script>
</section>