#{extends 'main.html' /}
#{set title:'Welcome' /}

<nav class="ui olive secondary pointing menu"> 
  <a class="ui active item" href="/home">Welcome</a>  
  <a class="ui item" href="/Admins/login">Administrator</a>     
  <a class="ui item" href="/Landlords/Login">Landlord</a>
  <a class="ui item" href="/Tenants/login">Tenant</a>
  <div class="ui right menu">
    <a class="ui item" href="/Contact">Contact</a> 
    <a class="ui item" href="/logout">Log out</a>
  </div>    
</nav>

<section class="ui segment">
  <h1> Welcome to MyRent</h1>
    <h3> Your guide to residential property</h3>
    <div class="ui raised segment">
      <table>
        <tbody>
          <tr>
            <td>
              <p>The 2004 Residential Tenancies act gives every landlord and tenant a right to a rent review once each year.</p>
              <p>The Act makes it illegal for a landlord to charge a rent higher than the market rent.</p>
              <p>If there is a dispute about the market rent, either the landlord or the tenant can take a case to the Private Residential Tenancies Board (the PRTB).</p>
              <p>The problem with this system is in establishing an objective way of determining the market rent of a property.</p>
              <p>The purpose of myrent is to gather information on rents from landlords and tenants and allow any registered user to generate a report on the state of the rental market.</p>
              <p>The success of the project will depend on the willingness of tenants and landlords to provide information about their properties.</p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
</section>